div.box {
	width:720px;
	margin:0px auto;
	border:solid 1px #000;
	padding: 15px;
}

table {
	width:720px;
}

table.nav {
	text-align: center;
}

table.query {
	margin-top: 15px;
    border: 1px solid #ccc;
	border-spacing: 3px;
	border-collapse: collapse;
}

table.query td {
	border: solid 1px #ccc;
	padding: 5x;
}

table.query tr:first-child td {
	font-weight: bold;
}